/vendor/
composer.lock
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
.php-cs-fixer.cache
.php_cs.cache
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
node_modules/
npm-debug.log
yarn-error.log
*.log
.DS_Store
Thumbs.db
.tempest/
